* { 
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
    
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: rgb(230, 228, 228);
  }

  /* Navigation Styles */

  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    padding-inline-start: 0px;
  }

  .nav li{
      text-transform: uppercase;
      background-color: rgb(240, 233, 240);
      padding: 10px;
      margin: 5px;
  }

  a {
      text-decoration: none;
      font-weight: bold;
      color: black;
  }
  
  a:hover {
      color: teal;
  }

  /* Profile image */

  .profile-img {
      width: 50%;
      height: auto;
      border: solid transparent 1px;
      border-radius: 50%;
  }

  /* main styles */

  p {
      padding: 10px;
      font-size: 20px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    padding-top: 150px;
    padding-bottom: 25px;
    
  }

  h3 {
    font-size: 24px;
  }

  .contact-info {
      padding: 10px;

  }

  .portfolio-img {
      width: 90%;
      height: auto;
  }

  .contact-info {
    display: inline;
}

  /* footer styles */

  footer {
      padding-top: 75px;
      font-weight: bold;
  }

  .footer {
      display: flex;
      flex-direction: row ;
      justify-content: space-between;
      padding: 10px;
  }

  .top-link {
      text-transform: uppercase;
  }
  
  .bottom-nav {
      display: none;
  }

  @media screen and (min-width: 768px) {

ul {
    flex-direction: row;
    justify-content: center;
}

.nav li{
    background-color:  rgb(230, 228, 228);
}

.profile-img {
    clear: both;
    width: 25%;
    float: right;
    margin: 0 50px;
}

.intro {
    text-align: left;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio {
    flex: 50%;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.footer li:first-child {
    margin-right: auto;
}

.bottom-nav {
    display: initial;
    text-transform: uppercase;
    padding: 10px;
}

.top-link {
    display: none;
}
  }

  @media screen and (min-width: 1024px) {

    .portfolio {
        flex: 33%;
    }

    .intro {
        text-align: left;
        max-width: 900px;
    }

    h2{
        padding-top: 250px;
    }

    h1 {
        display: inline-block;
        padding-top: 20px;
    }

    ul {
        margin-top: -55px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        /* justify-content: space-between;
        list-style-type: none;
        padding-inline-start: 0px; */
      }
    
      /* .nav li{
          text-transform: uppercase;
          background-color: rgb(240, 233, 240);
          padding: 10px;
          margin: 5px;
      } */

  }



